#content {
    flex: 1 100%;
    height: 500px;
    display: block;
}

.tile {
    background-color: snow;
    text-align: center;
    height: 300px;
}

div.item {
    background-color: slategray;
    width: 100%;
    height: 95%;
    box-shadow: 10px 10px 5px #888888;
}

.icon {
    width: 100%;
    height: 100%;
}

div.tempType {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

div.name {
    font-size: xx-large;
    display:flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 10px;
}

div.switchType {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}

div.sceneType {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;

}
div.imageType {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.imageType img {
    height: 80%;
    width: 80%;
}